@import url('https://fonts.googleapis.com/css?family=Open+Sans:800i');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(30deg, #feb47b, #ff7e5f, #765285);
    background-size: 300% 300%;
    animation: Gradient 1s ease infinite alternate;
    overflow: hidden;
}
h1 {
    text-transform: uppercase;
    text-align: left;
    font-size: 12vmax;
    line-height: 12vmax;
    padding: 10vw;
    text-shadow: 3px 0px 0px #f5ab99, -3px 0px 0px #351c4d;
    z-index: 10;
}
img {
    z-index: -10;
    position: absolute;
    opacity: 0.3;
    filter: grayscale(100%) saturate(1000%) sepia(1000%) hue-rotate(10deg);
}
@keyframes Gradient {
    0% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100% 0%
	}
}