html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
	color: #666;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.item {
	flex: 1;
	text-align: center;
}
.message {
	padding: 10px;
	margin: 0 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 28px;
	border: 0px solid #666;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0px 0px 3px #666;
}
.media {
	padding: 10px;
	margin: 20px;
}
.bubble {
	font-size: 20px;
	position: relative;
	background: #fff;
	border: 1px solid #666;
	max-width: 150px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
}
.bubble:after,
.bubble:before {
	left: 70%;
	top: 100%;
	border: solid #fff;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.bubble:after {
	border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
	border-width: 5px;
	margin-left: -5px;
}
.bubble:before {
	border-color: #666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #666;
	border-width: 6px;
	margin-left: -6px;
}