html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
	color: #666;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.item {
	flex: 1;
	text-align: center;
}
.message {
	padding: 10px;
	margin: 0 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 28px;
	border: 1px solid #666;
	border-radius: 5px;
	display: inline-block;
}
.message:hover {
	border-color: #4cd5ab;
	color: #4cd5ab;
	cursor: pointer;
}
#message-button {
	background-color: rgba(0, 0, 0, 0);
	color: #666;
	padding: 10px;
	margin: 0 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 28px;
	border: 1px solid #666;
	border-radius: 5px;
	display: inline-block;
}
#message-button:hover, :active, :focus {
	border-color: #4cd5ab;
	color: #4cd5ab;
	cursor: pointer;
}
.media {
	padding: 10px;
	margin: 20px;
}
.bubble {
	font-size: 20px;
	position: relative;
	background: #fff;
	border: 1px solid #666;
    max-width: 180px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
	text-align: center;
}
.bubble:after,
.bubble:before {
	left: 70%;
	top: 100%;
	border: solid #fff;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.bubble:after {
	border-color: #fff transparent transparent #fff;
	border-width: 10px;
	margin-left: -10px;
}
.bubble:before {
	border-color: #666 transparent transparent #666;
	border-width: 11px;
	margin-left: -11px;
}
