html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
	color: #333;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.item {
	flex: 1;
	text-align: center;
}
.message {
	padding: 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 32px;
}
.media {
	padding: 10px;
	margin: 20px;
}
.bubble {
	font-size: 20px;
	position: relative;
	background: white;
	border: 1px solid black;
    max-width: 200px;
    padding: 10px;
    margin: 0 auto;
    border-radius:5px;
	display:none;
    
}
.bubble:after,
.bubble:before {
	left: 80%;
	top: 100%;
	border: solid white;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.bubble:after {
	border-color: white transparent transparent white;
	border-width: 10px;
	margin-left: -10px;
}
.bubble:before {
	border-color: black transparent transparent black;
	border-width: 11px;
	margin-left: -11px;
}
