html, body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: 'Oswald', sans-serif;
}
#header {
	position: absolute;
	top: 0.4em;
	left: 0.4em;
	z-index: 10;
	text-transform: uppercase;
}
#footer {
	position: absolute;
	bottom: 0.4em;
	left: 0.4em;
	z-index: 10;
	text-transform: uppercase;
}
#instruction {
	font-size: 0.6em;
	color: #666;
	text-decoration: none;
	display: block;
	text-transform: lowercase;
}
a {
	color: #666;
	text-decoration: none;
}
.happy-birthday {
	font-size: 2em;
	animation: blink 500ms infinite alternate;
}
.happier-birthday {
	font-size: 3em;
	animation: blink 300ms infinite alternate;
}
.happiest-birthday {
	font-size: 4em;
	animation: blink 100ms infinite alternate;
}
@keyframes blink {
	from {
		color: #3EB27B;
	}
	to {
		color: #DB8CFF;
	}
}
