@font-face {
	font-family: Varela;
	src: url(varela.ttf);
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: Varela, sans-serif;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #C3E1D9;
	color: #9400D3;
}
#header {
	position: absolute;
	top: 2em;
	z-index: 10;
	margin: auto;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
}
#footer {
	position: absolute;
	bottom: 1em;
	z-index: 10;
	margin: auto;
	width: 100%;
	text-align: center;
}
#instruction {
	font-size: 0.8em;
	display: block;
}
.make-it-blink {
	animation: blink 100ms infinite alternate;
}
@keyframes blink {
	from {
		color: #1B7742;
	}
	to {
		color: #9400D3;
	}
}