html, body {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}
#header {
	position: absolute;
	top: 0.4em;
	left: 0.4em;
	z-index: 10;
}
#center {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
}
.happy-birthday {
	font-size: 2em;
	font-weight: bold;
	animation: blink 500ms infinite alternate;
}
.happier-birthday {
	font-size: 2.5em;
	font-weight: bold;
	animation: blink 300ms infinite alternate;
}
.happiest-birthday {
	font-size: 3em;
	font-weight: bold;
	animation: blink 100ms infinite alternate;
}
@keyframes blink {
	from {
		color: #f0f;
	}
	to {
		color: #ff0;
	}
}
.hidden {
	display: none;
}
.shown {
	display: block;
}
a {
	font-size: 0.6em;
	color: #666;
	text-decoration: none;
	display: block;
}